body{
    padding-top: 5rem;
}
.start-template{
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
}
img{
    width: 300px;
}
#order_list{
    display: flex;
    gap: 70px;
    padding-top: 25px;
}
.img-responsive{
    width: 400px;
}
.bg-dark{
    padding: 10px 50px;
}
