{% extends "base.html" %}


{% block content %}

    <div class="section-seperator">
        <div class="content-md container">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2>Добавление новой категории</h2>
                    <p>Введите название категории ниже и нажмите кнопку "Создать"</p>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="margin-b-10">
                            <input type="text" class="form-control" placeholder="Название категории" name="name">

                        </div>
                        <button style="margin-top: 40px;" type="submit"
                                class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Создать
                        </button>
                        <p>{{ form.errors.name }}</p>
                    </form>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>

{% endblock %}